//- extends ../views/layout.jade

//- block content
//-   h1 About me
//-   hr
//-   img(src="/images/optimized-headshot5.jpg")
//-   p My name is Adam. I am software engineer living in beautiful Portland Oregon with my partner Vincent and our dog, Sancho. When I'm not writing javscript, I ride and repair my motorcyle. I have over 10 years of experience in web development within the VC startup scene.


